<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="blog-details">
        <h1><% if (title) { %>
            <%= blog.title %> 
        <% } %></h1>
        <p><%= blog.body %> </p>

        <a class="delete" data-doc="<%= blog._id %> ">delete</a>
    </div>

    <%- include('./partials/footer.ejs') %> 

    <script>
        
        const delBtn = document.querySelector('a.delete')
        delBtn.addEventListener('click', (e) => {
            const endpoint = `/blogs/${delBtn.dataset.doc}`

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {window.location.href = data.redirect})
            .catch(error => {console.log(error)})
        })

    </script>

</body>
</html>